.text-xs {
  font-size: 9px !important;
}

.text-sm {
  font-size: 10px !important;
}

.text-md {
  font-size: 12px !important;
}

.text-lg {
  font-size: 14px !important;
}

.text-xxl {
  font-size: 16px !important;
}

.text-bold {
  font-weight: bold !important;
}

.small-font-bold {
  font-size: 9px; /* Ajusta el tamaño según necesites */
  font-weight: bold;
}

.small-font-tabs {
  font-size: 9px; /* Ajusta el tamaño según necesites */
  font-weight: bold;
}

.small-font-items-nav-left {
  font-size: 9px; /* Ajusta el tamaño según necesites */
  font-weight: bold;
}

.small-font {
  font-size: 11px; /* Ajusta el tamaño según necesites */
  font-weight: normal;
}

.textBreadcrumbs {
  font-size: 11px;
}

.my-div-full {
  min-height: 100vh; /* La altura de la ventana del navegador */
  display: flex; /* Opcional, si quieres distribuir contenido */
  flex-direction: column; /* Opcional */
}

.noStyle {
  padding: 0px !important;
  margin: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.no-padding {
  padding: 0px !important;
}

.small-font-user {
  font-size: 15px; /* Ajusta el tamaño según necesites */
  font-weight: bold;
}

.textSubtittle {
  font-size: 11px;
}

.border-box-bank {
  border: 1px solid rgb(45, 149, 13);
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.border-box-bank-box-small {
  border: 1px solid rgb(45, 149, 13);
  padding-bottom: 42px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.border-box-radio {
  border: 1px solid rgb(45, 149, 13);
  padding: 10px !important;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.dialog-md {
  width: 50% !important;
}

.small-font-tree {
  font-size: 11px; /* Ajusta el tamaño según necesites */
}

.itemsChildrens {
  padding-left: 50px;
}

.style-tables {
  padding-top: 0xp !important;
  margin-top: 0px !important;
  background-color: aqua;
}

.q-table__top {
  color: white;
}

.q-table__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px !important;
}

.Search {
  color: white !important;
}
.tittle-fotter {
  font-size: 12px !important;
  padding: 0px !important;
  margin: 0px !important;
}

.SubTittle-fotter {
  font-size: 10px !important;
  padding: 0px !important;
  margin: 0px !important;
}

.my-cell {
  display: table-cell;
  /*vertical-align: middle;*/
  height: 26px;
  /*oeltamañoquenecesites*/
  width: 200px;
  margin-bottom: 0px !important;
  padding: 0px !important;
}

.text-tittle-table {
  color: white !important;
  font-weight: bold;
  font-size: medium;
}

.padding_minimo {
  margin-bottom: 7px !important;
}

.d-none {
  display: none !important;
}

/*Animaciones*/
/* Clase para la transición */
/* Animación de transición suave con deslizamiento y opacidad */
.fade-enter-active,
.fade-leave-active {
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.icon-text {
  display: flex;
  align-items: center;
}
.icon-text q-icon {
  margin-right: 8px; /* ajusta a tu preferencia */
}
/*Animaciones*/

/* Tamaño dialogos */

.dialog-sm {
  --q-dialog-max-width: 300px;
}
.dialog-md {
  --q-dialog-max-width: 500px;
}
.dialog-lg {
  --q-dialog-max-width: 800px;
}

.dialog-xl {
  --q-dialog-max-width: 1000px;
}

/* Si quieres asegurar que se aplique a la tarjeta */
.my-dialog-card {
  max-width: var(--q-dialog-max-width);
  width: 100%; /* para que ocupe todo el ancho disponible */
}

/* Tamaño dialogos */

.q-item--active {
  background-color: #fff;
  color: #000;
}

/*Bordes horizontales celdas*/
.custom-horizontal-lines td {
  border-bottom: 1px solid #dcdcdc;
}

/* Estilos de la los items de la barra larteral izquierda */
.aside-menu-link {
  color: green !important;
  background: white;
  padding-left: 80px !important;
  padding-right: 50px !important;
  border-radius: 60px 0px 0px 20px;
  transition: all 1.5s;
  /*margin-left: -30px;
  padding-left: 60px;
  */
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 60px 0px 0px 20px;
  -ms-border-radius: 60px 0px 0px 20px;
  -o-border-radius: 60px 0px 0px 20px;
  -webkit-border-radius: 60px 0px 0px 20px;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -ms-transition: all 1.5s;
  -o-transition: all 1.5s;
}
.aside-menu-item {
  transition: background 0.2s ease;
}
.aside-menu-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.simple-menu-link {
  color: green;
  background: white;
}

.simple-menu-item {
  transition: background 0.2s ease;
}
.simple-menu-item:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* .children-nav-left {
  padding-left: 25px;
}

.children-nav-left:hover {
  border-radius: 60px 0px 0px 20px;
} */

/* .q-list > .q-item {
  padding-left: 25px;
} */

/* .children-nav-left:hover {
  padding-left: 25px;
  background-color: #ffffffe6;
  color: darkgreen;
}
 */
.aside-menu-link .small-font {
  font-size: 11px;
  font-weight: bold;
}

/* estilos para la transición */
.accordion-enter-active,
.accordion-leave-active {
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
  overflow: hidden;
}

.accordion-enter-from,
.accordion-leave-to {
  max-height: 0;
  opacity: 0;
}

.accordion-enter-to,
.accordion-leave-from {
  max-height: 500px;
  opacity: 1;
}

.collapse-list {
  overflow: hidden;
}
